body{
        background-color :#92CFFF;
        font-size: 16px;
        color: rgb(255, 255, 255);
        font-family: cursive;
}
.content{
        width: 80%;
        margin: 10px auto;
}
header{
        background-color: #92BBFF;
        padding: 20px;
        border-radius: 5px;
        border: 2px solid #f8f0f0;
        margin-bottom: 10px;
}
header h1.judul,
header h3.deskripsi{
        text-align:center ;
}
.menu{
        background-color: #92BBFF;
        border-radius: 8px;
        border: 2px solid #f8f0f0;
        margin-bottom: 10px;
}
div.menu ul{
        list-style: none;
        overflow: hidden;
}
div.menu ul li{
		float: center;
		text-transform: uppercase;
		padding:0px 10px;
}
li a, .dropbtn{
	text-decoration:none;
	display: block;
	color:black;
	text-align:center;
	padding:14px 16px
}

